<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGAtRenP_lEAKZb6UhdrmDb0FDy9PGA7M</string>
	<key>GCM_SENDER_ID</key>
	<string>119939205139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mottu.marvel.bento</string>
	<key>PROJECT_ID</key>
	<string>mottu-test</string>
	<key>STORAGE_BUCKET</key>
	<string>mottu-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119939205139:ios:64d00661c96b2da37197e6</string>
</dict>
</plist>